extends layouts/main.pug

block content
    .form-container.changePassword
        form(active=`/users${routes.changePassword}`, method="post")
            input(type="text", name="oldPassword", placeholder="Current Password")
            input(type="text", name="newPassword", placeholder="New Password")
            input(type="text", name="verifyPassword", placeholder="Verify Password")
            input.changePassword--button(type="submit", value="Change Password")