.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  button {
    width: 100%;
    max-width: 320px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
    a {
      padding-top: 7px;
      padding-bottom: 5px;
      background-color: none;
      margin-left: 70px;
    }
    span {
      margin-right: 10px;
      font-size: 20px;
      vertical-align: middle;
    }
  }
  .social-login--github {
    background-color: $black;
    color: white;
  }
  .social-login--facebook {
    background-color: #3a5998;
    color: white;
  }
  .social__login--google {
    background-color: #f95656;
    color: white;
  }
  .social__login--kakao {
    background-color: #fcce03;
    color: whitesmoke;
  }
}
