.videoBlock {
  video {
    margin-bottom: 0px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
  video:focus {
    outline: none;
  }
  .videoBlock__info-box {
    background-color: whitesmoke;
    height: 70px;
    padding: 4px;
    .videoBlock__wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5px;
      margin-left: 5px;
      .videoBlock__title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .videoBlock__views {
        font-size: 10px;
        margin-right: 10px;
      }
    }
    .vidoeBlock__main-description {
      font-size: 12px;
      color: rgb(133, 133, 133);
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }
}
