.form-container {
  .upload__header {
    margin: 0 auto;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 12px;
  }
  .fileUpload {
    height: 37px;
    label {
      margin-right: 0;
      font-size: 12px;
      font-weight: 400;
      padding-left: 0;
    }
    input {
      margin-left: 5px;
      margin-top: 0;
      padding-top: 0px;
    }
  }
  // .fileUpload {
  //   label {
  //     color: black;
  //     font-size: 12px;
  //   }
  //   input {
  //     padding-top: 5px;
  //   }
  // }
}
